html, body ,.root{
      height: 100%;
      width: 100%;
      padding: 0px;
      border: 0px;
      background-color: #ffffff;
      margin: 0px;
}
body .table-full {
    margin-bottom: 264px;
    font-family: 'Cairo', sans-serif;
  }
.parag{
      padding: 16px 200px 0px 200px;
      width: 80%;
      margin: 0 auto;
      background-color: #e7e7e7;
      /* margin: 0 auto; */

}

.bur {
  background: rgb(254,255,245);
  background: linear-gradient(90deg, rgba(254,255,245,1) 85%, rgba(255,159,2,1) 97%);
  display: block ruby;
  width: 100%;
  height: 60px;
  top: 0;
  float: none;
  position: fixed;

}
.bur p {
    text-align: center;
    color: #cc7d09;
    top: -44px;
    font-size: 20px;
    display: block;
    position: relative;
}

.up-img {
  padding: 1px 0px 0px 0px;
  width: 100%;
  background: #0000005c;
  background-image: url(pictures/laptop9.jpeg);
  background-size: cover;
  background-position: center;
  height: 400px;
  background-blend-mode: multiply;
}

.up-page h1 {
    color: #ffe5b3;
    background-color: #ea9c1645;
    text-align: center;
    top: 404px;
    /* left: 110px; */
    width: 100%;
    /* right: 152px; */
    position: absolute;
    /* display: flex; */
}
.bur a{
  text-decoration: none;
  background-color: #eeeeee;
  border-radius: 36px;
  color: #ff6c01;
  background: rgb(255,188,0);
  background: linear-gradient(0deg, rgba(255,188,0,0.6755077030812324) 0%, rgba(255,255,255,1) 18%);
  font-size: 17px;
}


.bur ul li {
    text-transform: uppercase;
    display: inline-block;
    padding: 5px;
    border: 0;
    list-style: none;
}

.bur img{
      height: 55px;
      margin: 0px;
      padding: 0px;
      display: block;
      float: right !important;
      top: 0px;
      left: 96%;
      position: absolute;
}
.s-line{
  border: 0px;
  margin: -1px;
  background-color: #ff6c01;
  display: block;
  height: 7%;

}

/* end up bur */
.table-full{
    width: 100%;
    height: 848px;
    background-color: #ff980008;
    padding: 0px;
    /* padding: 0px 0 0 33px; */
    position: relative;
    border: 1px solid #ff6c01;
}
.w-box {
    padding: 1px;
    border: 1px solid #c0c0c0;
    width: 374px;
    display: inline-block;
    height: 255px;
    border-radius: 11%;
}
.w-box h3{
  text-decoration: overline;
  text-align: center;
  direction: rtl;

}

.w-box p {
    color: #ffffff;
    text-align: center;
    position: relative;
    top: -5px;
    font-size: 19px;
    border-radius: 8%;
    color: white;
    direction: rtl;
    background-color: #054940b5;
    /* font-variant: historical-ligatures; */
}
.w-box a {
    text-decoration: none;
    font: icon;
    color: #cb651a;
}
.w-box h2 {
    padding: 15px 0px 0px 0px;
    text-align: center;
    top: -25px;
    /* right: -42%; */
    /* left: -34%; */
    direction: rtl;
    position: relative;
    margin-top: 6px;
    color: green;
    /* background: #ffffff; */
    display: block;
}
.w-box h6 {
    padding: 4px 0px 0px 0px;
    text-align: center;
    top: -17px;
    /* right: -42%; */
    /* left: -34%; */
    position: relative;
    margin-top: 9px;
    color: #ff2500;
    direction: rtl;
    /* background: red; */
    display: block;
    font-size: 23px;
}

.w-box img {
    /* width: 20%; */
    left: 120px;
    position: relative;
    /* display: inline-block; */
    padding: 20px 0px 0px 0px;
    width: 38%;
    /* background: #000000a8; */
    /* background-image: url(laptop1.jpg); */
    /* background-position: center; */
    height: 80px;
    /* background-blend-mode: multiply; */
}
.line-ss{
  border: 0px;
  margin: 0px;
  background-color: #ff6c01;
  display: block;
  height: 3%;

}
.fotter-wordpare{
  margin: 0 auto;
  width: 1100px;

}
.singel-fotter{
  width: 33%;
  float:left ;
  text-align: left;
  color: #fff;
}
.singel-fotter ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
img.img-bur {
    display: flex;
    height: 21px;
    top: 18px;
    left: 21px;
}
.left{
  display: flex;
  height: 21px;
  top: 18px;
  left: 21px;
}
img.left {
    display: flex;
    height: 14px;
    top: 23px;
    left: 95px;
    padding: 0px;
}
img.left-1 {
    display: flex;
    height: 14px;
    top: 23px;
    left: 163px;
    padding: 0px;
}
img.left-2 {
    display: flex;
    height: 14px;
    top: 23px;
    left: 226px;
    padding: 0px;
}
.singel-fotter ul a {
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  color: #fff;
  font-size: 12px;

}
.singel-fotter p {
  width: 70%;
}
  footer{
  width: 100% ;
  height: 250px;
  position: fixed ;
  bottom: 0;
  z-index: -1 ;
  background-color: #262626 ;

}


/* ////////////////////////// stayle for Courses               ////////////////////////////  */

.play-vid {
  background: black;
  width: 100%;
  height: 501px;
  display: block;
  top: 0;
  position: absolute;
}
.video {
    display: block;
    width: 100%;
    height: 501px;
    position: absolute;
    top: 0;
}
.c-box img {
    /* width: 20%; */
    right: 51px;
    top: 0;
    display: inline-block;
    padding: 20px 0px 0px 0px;
    width: 36%;
    position: relative;
    right: -32%;
}
.c-box {
    padding: 1px;
    border: 1px solid #c0c0c0;
    width: 374px;
    display: inline-block;
    height: 255px;
    border-radius: 11%;
}
.c-box h3{
  text-decoration: overline;
  text-align: center;
  direction: rtl;

}
.c-box p {
    color: #ffffff;
    text-align: center;
    position: relative;
    top: -5px;
    font-size: 19px;
    border-radius: 8%;
    color: white;
    direction: rtl;
    background-color: #054940b5;
    /* font-variant: historical-ligatures; */
}

.c-box a {
    text-decoration: none;
    font: icon;
    color: #cb651a;
}
.c-box h2 {
    padding: 4px 0px 0px 0px;
    text-align: center;
    /* top: 0; */
    /* right: -42%; */
    /* left: -34%; */
    direction: rtl;
    position: relative;
    margin-top: 9px;
    color: green;
    /* background: #ffffff; */
    display: block;
}
.c-box h6 {
    padding: 4px 0px 0px 0px;
    text-align: center;
    /* top: 0; */
    /* right: -42%; */
    /* left: -34%; */
    position: relative;
    margin-top: 9px;
    color: #ff2500;
    direction: rtl;
    /* background: red; */
    display: block;
    font-size: 23px;
}


/* ///////////////////////// stayle for Watch video //////////////////////////// */
.next-video {
    position: absolute;
    width: 75px;
    height: 62px;
    background: gray;
    top: 738px;
    right: 0;
}
.next-video p {
    text-align: center;
    color: white;
}
.back-video{
  position: absolute;
  width: 75px;
  height: 62px;
  background: gray;
  top: 738px;
  left: 0;
}
.back-video p {
    text-align: center;
    color: white;
}
.les-win {
    bottom: 0px;
    padding: 1px;
    border: 1px solid #c61a1a;
    width: 8%;
    display: inline-block;
    height: 46px;
    right: auto;
    top: 747px;
    position: relative;
    border-radius: 11%;
    left: 396px;
}
.les-win p {
    text-align: center;
    font-size: 16px;
}

/* ////////////////////// plan ////////////////////// */
.plan {
    position: relative;
    top: -3px;
    left: 9%;
    float: 0 0 3 2;
    float: left;
}
/* /////////////// grades /////////////////////////// */
.Gr-box img {
    /* width: 20%; */
    */: ;
    top: 0;
    display: inline-block;
    padding: 20px 0px 0px 0px;
    width: 18%;
    position: relative;
    /* right: -32%; */
}
.Gr-box h2 {
    /* left: 2px; */
    color: black;
    border-radius: 83%;
    background-color: #1fa3a37a;
    float: right;
    display: inline-block;
    position: relative;
    /* right: 0px; */
}
.Gr-box h1 {
    clear: right;
    color: #06717e;
    background-color: #b691657a;
    float: left;
    position: relative;
    top: 0;
    background-size: inherit;
    /* width: 312px; */
    display: inline-block;
}
.Gr-box {
    border: 1px solid #282807;
    position: relative;
}

/* //////////////// theaching//////////////////// */
.w-box h1 {
    position: relative;
    display: block;
    top: 0;
    background-color: #454545;
}
