
body , html, .container{
 width: 100%;
 height: 100%;
}
body{
  margin: 0;
  font-family: Arial , serif;
  background-image:url(all/silver.gif);
   background-size:100%;
   background-repeat: repeat-y;
   background-attachment: fixed;
   height:100%;
   width:100%;
   font-family: 'Cairo', sans-serif;

}
.left-page{
padding: 15px;
vertical-align: top;

}
.left-page h2{
  background-color: gray;
  padding:15px;

}
.left-page ul {
    padding: 15px;
    list-style: square;
}


.avatar img{
  margin: 0 auto ;
  display: block;
  border-radius: 50%;
}
.img-g a img{

  width: 161px;
  border-radius: 13%;
  padding: 12px;
  display: block;
}
.img-sa-en a img {
  width: 54px;
border-radius: 50%;
padding: -16px;
margin: ;
margin: -21px;
}
.img-t a img {
    width: 107px;
    border-radius: 58%;
    padding: 9px;
    margin: 0 auto;
    display: block;
}
.right-page{
      background-image: url(all/5sh1.jpg);
       background-size:100%;
       background-repeat: repeat-y;
       background-attachment: fixed;
       height:100%;
       width:100%;
      width: 270px;
      padding: 5px;
      color: white;
      vertical-align: top;
}
.table-container{
  width: 100%;
  height:100%;
}
p {
    font-size: 20px;
}
.msh img {
    height: 189px;
}
.divider {
  background-color: #34727c;
  width: 90%;
  height: 5px;
  margin: 5px auto;
  margin-top: 27px;
